<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Chat.plist
   WeChat-Demo

   Created by mac os on 2020/8/6.
   Copyright (c) 2020 mac os. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
